<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/module.js"></script>
  </head>
  <body ng-app="someApp" ng-controller="homeCtrl">
    <div class="jumbotron">
      <h1><%= title %></h1>
    </div>
    <div class="container">
      <button class="btn btn-success btn-lg" ng-click="generateImage()">Generate Image</button>
      <hr>
      <table>
        <thead>
          <tr>            
              <th>#</th>
              <th ng-click="sort('date')">Created At</th>
              <th>Image String</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='item in todos | orderBy:sorttext track by $index' ng-class='{lightsteelblue: $even}'>
            
            <td>{{$index}}</td>
            <td ng-if="item.long">{{item.long}}</td>
            <td ng-if="!item.long">{{item.date}}</td>                          
            <td>{{item.imagesubstring}}</td>
            <td ng-click="remove(item)">
              <div class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
